* {
    box-sizing: border-box;
}

body {
    user-select: none;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    color: #000000;
}

.container {
    width: 375px;
    margin: 0 auto;
}

.logo {
    width: 127px;
}

.avatar {
    width:34px;
    border-radius: 50%;
}

.flex-btwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container{
    padding: 20px;
    border-bottom: 1px solid #C6C6C6;
}

.name{
    margin-left: 10px;
    font-size: 13px;
}

.container-person{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.post {
    width: 100%;
}

.bold{
    font-weight: bold;
}

.block{
    display: block;
}

.container-imgs{
    width: 105px;
}

.emoji {
    width: 23px;
}

.container p.bold {
    margin: 15px 0;
}

.container-last{
    margin: 12px;
}