* {
    box-sizing: border-box;
}

body {
    user-select: none;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    color: #000000;
}

.container {
    width: 375px;
    margin: 0 auto;

}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #C6C6C6;
}

.logo {
    width: 127px;
}

.avatar {
    width:34px;
    border-radius: 50%;
}

.name{
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

.location{
    font-size: 12px;
    font-weight: normal;
    display: block;
}

.container-person{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.post {
    width: 100%;
}